.window {
  background-color: var(--fg);
  width: 20rem;
  height: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.windowImage {
  width: 90%;
  aspect-ratio: 16/9;
}
.windowText {
  width: 90%;
}
.windowBar {
  width: 90%;
}