:root {
  --bg: rgb(48, 48, 48);
  --fg: rgb(65, 65, 65);
  --play: limegreen;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
